@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #f04c4c;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f1e8e8;
    --foreground: #f04c4c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
